
@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS10 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS10-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS10-ExtendedHeavyItalic.ttf') format('truetype');
}
